<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D83B48381EA9A10900B7E63E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83B48511EA9A10A00B7E63E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D83B485C1EA9A10A00B7E63E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
